html {
  background-color:rgb(255, 115, 64);
  background-image:url("../images/yellow.jpg");
  background-size:cover;
  font-family:serif;
  font:oblique;
  text-align:center;
}
#image {
  float:left;
  clear:left;
}
.column {
  float: left;
}
ul {
  list-style:none;
}